:root {
  --background: #30343f;
  --primary: #1e2749;
  --secondary: #273469;
  --text-realce: #fb8500;
  --text: #aaa;
  --focus: #ff9f1c;
  --safe: #45a049;
  --input-background: #444;
  --input-border: #555;
  --button-background: #4caf50;
  --white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  background: var(--background);
  color: var(--white);
}

.container {
  width: 80%;
  margin: 0 auto;
  background: var(--primary);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.images {
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.box-1,
.box-2 {
  flex: 1;
  background: var(--secondary);
  padding: 15px;
  border-radius: 5px;
}

.box-2 {
  max-width: 30%;
}

h1,
h2,
h3 {
  color: var(--text-realce);
}
