:root {
  --background: #30343f;
  --primary: #1e2749;
  --secondary: #273469;
  --text-realce: #fb8500;
  --text: #aaa;
  --focus: #ff9f1c;
  --safe: #45a049;
  --input-background: #444;
  --input-border: #555;
  --button-background: #4caf50;
  --white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  background: var(--background);
  color: var(--white);
}

.container {
  width: 80%;
  margin: 0 auto;
  background: var(--primary);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.images {
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.box-1,
.box-2 {
  flex: 1;
  background: var(--secondary);
  padding: 15px;
  border-radius: 5px;
}

.box-2 {
  max-width: 30%;
}

h2,
h3 {
  color: var(--text-realce);
  font-size: 1.5rem;
}

.my-info {
  max-width: 600px;
  margin: 20px auto;
}

form {
  margin-top: 15px;
}

fieldset {
  border: 1px solid var(--input-border);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
}

legend {
  color: var(--text-realce);
  font-weight: 700;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: 700;
  flex-basis: 100px;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--input-border);
  border-radius: 5px;
  background: var(--input-background);
  color: var(--white);
  font-size: 1rem;
}

input[type="text"]:focus,
input[type="number"]:focus {
  border-color: var(--focus);
  outline: none;
}

.form-group {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

#form-btn {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  background-color: var(--button-background);
  color: var(--white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  font-weight: 700;
}

#form-btn:hover {
  background-color: var(--safe);
}

/* resumo */

.summary,
.warranty-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.warranty-box {
  align-items: center;
  border-top: 1px solid var(--input-border);
  border-bottom: 1px solid var(--input-border);
  padding: 15px 0;
}

.apply-discount {
  border-top: 1px solid var(--input-border);
  padding-top: 10px;
  margin-top: 10px;
}

.apply-discount-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  color: var(--text-realce);

  i {
    font-size: 0.7em;
  }
}

.apply-discount-body {
  display: none;
  margin-top: 10px;

  flex-direction: column;
  gap: 10px;

  input {
    width: 90%;
    margin-right: 5px;
  }
}

.icons {
  display: flex;
  flex-flow: row;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;

  i {
    font-size: 20px;
  }
}

#apply-btn {
  background-color: var(--text-realce);
  color: var(--white);
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  font-weight: 700;
}
#apply-btn:hover {
  background-color: var(--focus);
}

.safe {
  color: var(--safe);
}

.safe-img {
  width: 100%;
  max-width: 300px;
  border-radius: 10%;
}

footer {
  text-align: center;
  margin-top: 20px;

  a {
    color: var(--text-realce);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 900px) {
  .boxes {
    flex-direction: column;
  }

  .box-2 {
    max-width: 100%;
  }
}
